/*Introducing a font style*/
@font-face 
{
    font-family: "ariendezze"; /*a name to be used later*/
    src: url("ariendezze.ttf"); /*URL to font*/
}

/*HTML Body style*/
body 
{
	background-image: url(cupcakes1.jpg);/*URL to the background of the page*/
	background-color: #bf8040;
	/*background-color: black; #331a00*/
	background-repeat: no-repeat; /*The background does not repeat*/
	background-position: bottom right; /*position of the background image*/
    background-attachment: fixed; /*The background is fixed to that position and does not scroll*/
	background-size: 40% 60%; /*Size of the background*/
	font-family: ariel; /*Font being used*/
	font-size: 16px;
}

/*Div style for the recipe cards*/
div.main
{
	position: absolute; /*Position of the recipe cards*/
	left: 180px; /*Position from left*/
	top: 50px; /*Position from top*/
	display: none; /*Does not display until called for*/
}

/*Style of the page title*/
#title_font
{
	font-family:ariendezze; /*Font for the title*/
	text-align: Center; /*Font position*/
	color: white;
	font-size: 35px;
}

/*Style for the Recipe cards*/
table, td, tr.recipe
{
	width:775px;
	text-align:left; 
	margin-left:auto; 
	margin-right:auto; 
	border-color: black;  
	font-weight: bold;
	background-image: url(linePaper.jpg);
	border: 2px solid #006600;
	padding: 2px;
	border-spacing: 2.5px;
}

/*Pics on recipe cards*/
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }
div.hover_img
{
	margin-left: 0;
	float: left;
}

/*Scrollbar stuff*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    background-color:#bf8040;
    border-radius: 10px
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#4d2600; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5); 
}

input.buttons
{
	background-color: #4d2600;
	color:white;
	font-weight: bold; 
	font-size: 18px;
	width: 165px; 
	position: fixed;
}

font.big
{
	font-size: 20px;
	color: #1ab2ff;
}

font.symbol
{
	font-size: 25px;
	color: #e60073;
}

div.servings
{
	color: #e60073;
	float:right;
	margin-right: 0%;
}

a.picture
{
	color: black; 
	text-decoration:none;
}

ul.none
{
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ol.some
{
	margin-top: 8px;
	margin-bottom: 8px;
}

a.example
{
	color: #e60073; 
	text-decoration:none;
}

ul.warning
{
	text-align: center;
	list-style-type: none;
	margin-top: 0;
}

font.optional
{
	color: #e60073;
	font-style: italic;
}
